@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Bebas Neue, sans-serif;
  background: black;
  color: white;
}

header {
  padding: 30px;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 60px;
  letter-spacing: 5px;
  transition: all 0.2s linear;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container {
  margin: 10px 30%;
}

.image-container img {
  width: 100%;
  border: 5px solid #222222;
  border-radius: 7px;
}

img {
  opacity: 0;
  transition: all 0.5s;
}

.loaderImg {
  opacity: 1;
}

.image-container a:nth-of-type(2n) img {
  transform: translateX(-30%) scale(0.95);
}

.image-container a:nth-of-type(2n + 1) img {
  transform: translateX(30%) scale(0.95);
}

.image-container a img.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
  .image-container {
    margin: 10px;
  }
}
